<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Homework 3.2</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="css/hw_3.2.css">
</head>
<body>

<section id="app">
    <table>
        <tr>
            <td>Услуга</td>
            <td>Стоимость</td>
        </tr>
        <tr v-for="(service, index) in services">
            <td>{{ service.title }}</td>
            <td>{{ service.price }}</td>
        </tr>
    </table>
    <div>
        <label for="services">Выберите одну или несколько услуг: </label>
        <select id="services" name="service" multiple v-model="allServices">
            <option :value="i" v-for="(service, i) in services">
                {{ service.title }}
            </option>
        </select>
    </div>
    <p>Итоговая стоимость услуг:</p>
    <p>{{ fixPrice }}</p>
</section>

<script src="js/hw_3.2.js"></script>
</body>
</html>